{% extends 'base.html' %}

{% block header_text %}Your Fridge{% endblock %}

{% block form_action %}/fridge/{{ list.id }}/add_item{% endblock %}

{% block table %}
    <table id="id_list_table">
        <!-- tag for iterating through items use reverse lookup -->
        {% for item in list.item_set.all %}
            <!-- new_item_text is the variable name for the user input
             we display in the template -->
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}